<style>
    ul.nav.flex-column {
        width: 20%;
    }
</style>

<ul class="nav flex-column pull-left">
    <li class="nav-item">
        <a class="nav-link active" href="#">Users</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Category</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Products</a>
    </li>
</ul>
