@using rlara.prototypes.identity.Entities
@model  List<User>

<style>
    
    div.panel.panel-default {
        margin-top: 20px;
        width: 80%;
        float: right;
    }
</style>

<div class="panel panel-default">
    <div class="panel-heading">Users</div>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th> <th>Name</th> <th>Email</th> <th>Birthday</th>
        </tr>
        </thead>
        <tbody>
        
        @foreach(User user in Model){
            
            <tr>
                <th scope="row">@user.Id</th> <td>@user.FullName</td> <td>@user.Email</td> <td>@user.Birthday</td>
            </tr>
            
        }
            
           
              
        
        
        
        </tbody>
    </table>
</div>